#back {
    font-weight: bolder;
    font-size: 2rem;
    color: darkblue;
    text-decoration: none;
}

#back:hover {
    color: #EE6C4D;
}

#about {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#contact {
    display: flex;
    flex-direction: column;
}

#contact p {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: darkblue;
}

a:hover {
    color: #EE6C4D;
}

h2 {
    width: 100%;
    margin-bottom: .5rem;
    border-bottom: 1px solid black;
}

#skills {
    display: flex;
    flex-direction: row;
}

#skills div {
    padding-left: 1rem;
    padding-right: 1rem;
}

.xpContainer {
    justify-content: space-between;
    display: flex;
}

.dotted {
    border-bottom: 1px dashed lightslategray;
}

.xpTime {
    width: 8rem;
    margin-right: 1rem;
}

.xpDets {
    width: 41rem;
}