<a routerLink="/dashboard" id="back">[BACK]</a>
<div id="about">
    <h2>About Me</h2>
    <div id="aboutMe">
        <p>My name is Tripp Barker, and I am currently a Software Development major attending Georgia Gwinnett College. I am passionate about riding my bike and getting out doors, and love cooking for my wife.</p>
        <p>On this site you can expect to find things that interest me, and some of the projects I am working on.</p>
    </div>
    <h2>Contact</h2>
    <div id="contact">
        <p>GitHub...: <a href="https://github.com/TrippBarker" target="_blank">TrippBarker</a></p>
        <p>Bluesky..: <a href="https://bsky.app/profile/caffeineowl.bsky.social" target="_blank">caffeineowl</a></p>
    </div>
    <h2>Skills and Technologies</h2>
    <div id="skills">
        <div>
            <p>- Java</p>
            <p>- Python</p>
            <p>- JavaScript/HTML/CSS</p>
        </div>
        <div>
            <p>- Microsoft Office Suite</p>
            <p>- Project Libre</p>
            <p>- Visual Paradigm</p>
            <p>- Firebase</p>
        </div>
        <div>
            <p>- SQLite</p>
            <p>- Git</p>
            <p>- Angular</p>
        </div>
    </div>
    <h2>Education</h2>
    <div class="xpContainer">
        <div class="xpTime">
            <p>Aug. 2021-<br>Present</p>
        </div>
        <div class="xpDets">
            <h3>Software Development, <em>Georgia Gwinnett College</em></h3>
            <p>GPA 3.7</p>
        </div>
    </div>
    <h2>Work Experience</h2>
    <div class="xpContainer dotted">
        <div class="xpTime">
            <p>Jun. 2022-<br>Oct. 2023</p>
        </div>
        <div class="xpDets">
            <h3>Alarm Handler, <em>INOC/ITSavvy</em></h3>
            <p>At ITSavvy I worked as an Alarm Handler monitoring incoming network alarms and associating them with known issues, maintenances, or otherwise open a new ticket to track new issues. I work as an intermediary between clients and carriers to ensure that tickets receive the most detailed up-to-date information regarding each step taken in the trouble shooting process.</p>
        </div>
    </div>
    <div class="xpContainer dotted">
        <div class="xpTime">
            <p>Jan. 2020-<br>Jun. 2022</p>
        </div>
        <div class="xpDets">
            <h3>Helpdesk Technician, <em>INOC</em></h3>
            <p>At INOC I worked as a Help Desk Technician assisting multiple clients facing various issues including account recovery, PC troubleshooting, RMA/Technician Dispatch coordination, and much more. In my role as Help Desk Technician, it was vital to my job that work processes be followed closely, tickets be worked quick and efficiently, and that I include clear and concise updates for all work done.</p>
        </div>
    </div>
    <div class="xpContainer">
        <div class="xpTime">
            <p>Oct. 2019-<br>Feb. 2020</p>
        </div>
        <div class="xpDets">
            <h3>Level Two Computer Technician, <em>Wolf Pack Techies</em></h3>
            <p>At Wolf Pack Techies I worked as a Level 2 Computer Technician. My role was to receive/check in incoming customer computers, diagnose issues, research resolutions, and service the machines. Each step in the process required detailed documentation in our ticketing system. In this role I provided professional customer service to customers and worked to educate customers on how they may be able to prevent or resolve issues with their machines in the future.</p>
        </div>
    </div>
</div>