* {
    font-family: "Azeret Mono", monospace;
}

body {
    background-color: #E0FBFC;
}

#projects {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    max-width: 125rem;
}

.projectCont {
    margin: 1rem;
    background-color: green;
    width: 50%;
    max-width: 35rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectCont a {
    color: #293241;;
    text-decoration: none;
}

.projectCont a:hover {
    color: #EE6C4D;
}

.project {
    background-color: #98C1D9;
    max-height: 25rem;
    width: 100%;
    min-width: 25rem;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.projectImg {
    background-color: #293241;
    height: 100rem;
    overflow-x: hidden;
    border-radius: .75rem .75rem 0 0;
    background-size: cover;
}