* {
    font-family: "Azeret Mono", monospace;
}

body {
    background-color: #E0FBFC;
}

#projects {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    max-width: 125rem;
}

.projectCont {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectCont a {
    color: #293241;;
    text-decoration: none;
}

.projectCont a:hover {
    color: #EE6C4D;
}

.project {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: .25rem;
    overflow: hidden;
}

.projectImg {
    background-color: #293241;
    height: 10rem;
    width: 20rem;
    overflow-x: hidden;
    border-radius: .5rem .5rem 0 0;
    background-size: cover;
}

.projectDets {
    margin-left: 1rem;
}

h2 {
    margin-top: 0;
}