* {
    font-family: "Azeret Mono", monospace;
}

#projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: 45%;
}

.project a {
    color: black;
    text-decoration: none;
}

.project a:hover {
    color: purple;
}