<a href="https://www.trippbarker.com/projects" id="back">[Projects]</a>
<div id="project">
    <h1>{{project.name}}</h1>
    <h2>{{project.description}}</h2>
    <a id="repo" class="link" *ngIf="this.project.repo != 'null'" href="{{this.project.repo}}">GitHub REPO</a>
    <a id="liveSite" class="link" *ngIf="this.project.liveSite != 'null'" href="{{this.project.liveSite}}">PROJECT LINK</a>
    <div class="detailContainer" *ngFor="let detail of details" id="{{detail.contentRef}}Cont">
        <h2>{{detail.header}}</h2>
        <p>{{detail.text}}</p>
        <div id="{{detail.contentRef}}Content" class="detailContent"></div>
    </div>
</div>