/* Application-wide Styles */
* {
  font-family: "Azeret Mono", monospace;
}

body {
  background-color: #E0FBFC;
}

nav {
  display: flex;
  justify-content: center;
  margin: 0;
}

nav a {
  margin: 0 3rem 0 3rem;
  text-decoration: none;
  font-family: "Azeret Mono", monospace;
  font-weight: bolder;
  font-size: 2rem;
  color: black;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: purple;
  scale: 150%;
}


h1 {
  color: #369;
  font-family: "Azeret Mono", monospace;
  font-size: 250%;
}