#back {
    font-weight: bolder;
    font-size: 2rem;
    color: darkblue;
    text-decoration: none;
}

#back:hover {
    color: orangered;
}

#bragContainer, .dayContainer, #back {
    margin-left: 1rem;
}

.dayContainer a {
    font-weight: bolder;
    color: darkblue;
}

.dayContainer a:hover {
    color: orangered;
}

.bragImages {
    display: flex;
    flex-direction: row;
    height: 20rem;
    overflow-x: scroll;
    overflow-y: hidden;
}

img {
    margin: 1rem;
}