<a routerLink="/bike" id="back">[BACK]</a>
<div id="bragContainer">
    <h1>BRAG {{brag.year}}</h1>
    <div *ngFor="let day of brag.days" class="dayContainer">
        <h2 class="header">day {{day.day}} <i>{{day.startLocation}} to {{day.endLocation}}</i></h2>
        <div class="stats">
            <div class="distance">
                <p>distance</p>
                <p><b class="stat">{{day.distance}}</b> mi</p>
            </div>
            <div class="elevation">
                <p>elevation gain</p>
                <p><b class="stat">{{day.elevation}}</b> ft</p>
            </div>
            <div class="time">
                <p>moving time</p>
                <p><b class="stat">{{day.movingTime}}</b></p>
            </div>
        </div>
        <p>see the ride <a href="{{day.stravaLink}}" target="_blank">here</a></p>
        <div id="day{{day.number}}images" class="bragImages"></div>
    </div>
</div>