#back {
    font-weight: bolder;
    font-size: 2rem;
    color: darkblue;
    text-decoration: none;
}

#back:hover {
    color: #EE6C4D;
}

#bragContainer, .dayContainer, #back {
    margin-left: 1rem;
}

.dayContainer {
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;
    background-color: #eff5fe;
    box-shadow: 0px 25px 50px 0px grey;
}

.header {
    color: #293241;
}

.dayContainer a {
    font-weight: bolder;
    color: #293241;
}

.stats {
    display: flex;
}

.stat {
    font-size: 2rem;
    color: #293241;
}

.distance p, .elevation p, .time p {
    margin: 0;
}

p {
    font-size: 1rem;
}

.distance, .elevation, .time {
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
}

.distance, .elevation {
    border-right: 1px solid #EE6C4D;
}

.elevation, .time {
    padding-left: 1rem;
}

.dayContainer a:hover {
    color: #EE6C4D;
}

.bragImages {
    display: flex;
    flex-direction: row;
    height: 20rem;
    padding-bottom: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
}

google-map {
    margin-right: 1rem;
}

img {
    margin: 1rem;
}

@media only screen and (max-width: 768px) {
    .stats {
        flex-direction: column;
    }

    .elevation, .time {
        padding-left: 0;
    }

    .distance, .elevation {
        border-right: none;
    }
}


::-webkit-scrollbar {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #EE6C4D;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b64225;
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}