<a routerLink="/bike" id="back">[BACK]</a>
<div>
    <h2>BRAG Checklist</h2>
    <h3>Camping</h3>
    <input type="checkbox" name="camping" id="tent">
    <label for="tent">tent</label>
    <br>
    <input type="checkbox" name="camping" id="groundcloth">
    <label for="groundcloth">ground cloth</label>
    <br>
    <input type="checkbox" name="camping" id="stakes">
    <label for="stakes">stakes</label>
    <br>
    <input type="checkbox" name="camping" id="mallet">
    <label for="mallet">mallet</label>
    <br>
    <input type="checkbox" name="camping" id="chair">
    <label for="chair">camping chair</label>
    <br>
    <input type="checkbox" name="camping" id="bugrepellent">
    <label for="bugrepellent">bug repellent</label>
    <br>
    <input type="checkbox" name="camping" id="sunscreen">
    <label for="sunscreen">sun sunscreen</label>
    <br>
    <input type="checkbox" name="camping" id="batterybank">
    <label for="batterybank">battery bank</label>
    <br>
    <input type="checkbox" name="camping" id="clothes">
    <label for="clothes">clothes</label>
    <br>
    <input type="checkbox" name="camping" id="shoes">
    <label for="shoes">shoes</label>
    <br>
    <input type="checkbox" name="camping" id="clothingline">
    <label for="clothingline">clothing line</label>
    <br>
    <h3>Sleeping</h3>
    <input type="checkbox" name="sleeping" id="sleepingpad">
    <label for="sleepingpad">sleeping pad</label>
    <br>
    <input type="checkbox" name="sleeping" id="sleepingbag">
    <label for="sleepingbag">sleeping bag</label>
    <br>
    <input type="checkbox" name="sleeping" id="pillow">
    <label for="pillow">pillow</label>
    <br>
    <input type="checkbox" name="sleeping" id="airpump">
    <label for="airpump">air pump</label>
    <br>
    <input type="checkbox" name="sleeping" id="eyemask">
    <label for="eyemask">eyemask</label>
    <br>
    <input type="checkbox" name="sleeping" id="earplugs">
    <label for="earplugs">earplugs</label>
    <br>
    <input type="checkbox" name="sleeping" id="fans">
    <label for="fans">fans</label>
    <br>
    <h3>Shower Bag</h3>
    <input type="checkbox" name="shower" id="soap">
    <label for="soap">soap</label>
    <br>
    <input type="checkbox" name="shower" id="shampoo">
    <label for="shampoo">shampoo</label>
    <br>
    <input type="checkbox" name="shower" id="towel">
    <label for="towel">towel</label>
    <br>
    <input type="checkbox" name="shower" id="toothpaste">
    <label for="toothpaste">toothpaste</label>
    <br>
    <input type="checkbox" name="shower" id="toothbrush">
    <label for="toothbrush">toothbrush</label>
    <br>
    <input type="checkbox" name="shower" id="comb">
    <label for="comb">comb</label>
    <br>
    <input type="checkbox" name="shower" id="chamoiscream">
    <label for="chamoiscream">chamois cream</label>
    <br>
    <h3>Bike</h3>
    <input type="checkbox" name="bike" id="bike">
    <label for="bike">bike</label>
    <br>
    <input type="checkbox" name="bike" id="bottles">
    <label for="bottles">water bottles</label>
    <br>
    <input type="checkbox" name="bike" id="helmet">
    <label for="helmet">helmet</label>
    <br>
    <input type="checkbox" name="bike" id="helmet">
    <label for="glasses">glasses</label>
    <br>
    <input type="checkbox" name="bike" id="cyclingshoes">
    <label for="cyclingshoes">cycling shoes</label>
    <br>
</div>